body {
    margin: 0%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "poppins", sans-serif;
    background-color: rgb(211, 230, 246);
    
}
.btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: all 0.4s;
}
.btn-primary:hover{
    background-color: #0056b4;
}
.btn-show {
    position: absolute;
    right: 5px;
    top: 50%;
    transform:translateY(-50%);
    background: transparent;
    border: #6c6d6d;
    font-size: 20px;
    cursor: pointer;
}

.form {
    width: 300px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    padding: 40px;
    background-color: white;
    color: rgb(27 , 26, 26);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; 
}

.form h1{
    margin-bottom: 20px;
}

.form input{
    padding: 10px;
    border-radius:5px ; 
    border: none;
    background:rgb(227, 225, 225) ;  
    width: 90%;
}

.form img{
    width : 200px;
    height: 200px;
    object-fit: cover;
}

.form-group {
    position: relative;
    width: 100%;
    padding: 10px;
    border-radius:5px ; 

}